@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Cookie&family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 576px (mobile) 768px (tablette) 992px ordi portables) 1200px (écrans pc) srcset à voir pour les pourcentages */

/*@media screen and (max-width: 576px) {
    body {}
}*/

/****** RESET ET PARAMÈTRES GÉNÉRAUX ******/

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    font-family: "Dosis", sans-serif;
}

figure, ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 10vh;
}

.main {
    min-height: 80vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.DefaultPageTitle {
    background: rgba(255, 167, 145, 0.5);
}


/****** PAGE D'ACCUEIL ******/

.searchbar {
    display: flex;
    /*padding-top: 1em;
    padding-bottom: 1em; Pas d'effet ?*/
}

.searchbar i {
    font-size: 2em;
    padding-left: 5px;
}

.searchbar input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.defaultNav {
    display: flex;
    width: 50%;
    background-color: #DD4124;
    font: bold;
    display: none;
}

.defaultNav ul li {
    padding-bottom: 10%;
}

.defaultNav ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.menubar {
    background: rgba(255, 167, 145, 0.5);
    padding-bottom: 10%;
    display: none;
}

.collapsible {
    width: 20%;
}

.content {
    align-content: center;
    align-items: center;
    display: none;
}

.content img {
    width: 10%;
    padding-right: 2%;
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-top: 20%;
}

.social img {
    width: 50%;
}

#ongoingSeries {
    height: 47%;
    background-color: #DD4124;
    padding-bottom: 2%;
    padding-top: 1%;
}

#ongoingFilms {
    height: 47%;
    background-color: #DD4124;
    padding-bottom: 2%;
    padding-top: 1%;
}

.logoBottomPage p {
    width: 5%;
}


/****** PAGE D'INSCRIPTION ******/

.logoHeader {
    width: 5%;
}

.accountCreation > * {
    margin-bottom: 1em;
}

.accountCreation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DD4124;
}

.accountCreation h1 {
    padding-bottom: 1em;
}

.accountConnexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 167, 145, 0.5);
    padding-bottom: 2em;
}


/****** FICHE FILM ******/

#workPageMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #DD4124;
    padding-left: 5%;
    padding-right: 5%;
}

#workPageMain header {
    width: 100%;
    line-height: 0.5em;
    background-color: rgba(255, 100, 100, 0.4);
    margin: 0;
}

#workPageMain p {
    display: flex;
    align-items: baseline;
}

#workPageMain header p {
    padding: 0 0 0.5em 2em;
}

#workPageMain p span {
    padding-right: 2%;
}

#workPageMain footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

#trailer iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: -1% auto -1% auto;
    display: block;
    min-width: 200px;
    max-width: 800px;
}

#plot {
    padding-bottom: 5%;
    padding-left: 3em;
}


/****** SUGGESTION D'OEUVRES ******/

#suggestionsMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #DD4124;
}

#suggestionsMain h3 {
    width: 100%;
}

#trendingSeries {
    height: 40vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-left: 5%;
}

#trendingMovies {
    height: 40vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-left: 5%;
}

.iconsFooter ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 200px;
    max-width: 800px;
    font-size: 2em;
}


/****** SUGGESTION D'OEUVRES ******/


#profileHeader {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#profileHeader a {
    font-size: 2em;
    position: absolute;
    left: 5%;
}

#profileHeader h3 {
    text-align: center;
    width:100%;
}

#profileMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DD4124;
}

#profileMainSection1 {
    height: 25%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#profileMainSection1 figure {
    display: flex;
    align-items: center;
}

#profileMainSection1 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileMainSection1 ul li a {
    font-size: 2em;
}

#profileMainSection2 {
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profileMainSection2 ul {
    display: flex;
    justify-content: space-around;
}

#borderProfile1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(208, 255, 154, 0.5);
    border-radius: 5px;
    background: rgb(246, 156, 85);
    width: 5rem;
    height: 4rem;
    margin: 0.5rem;
}

.borderProfile2 {
    height: 40%;
    width: 85%;
    min-width: 200px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(208, 255, 154, 0.5);
    border-radius: 5px;
    background: rgb(246, 156, 85);
}

.borderProfile2 h2,
.borderProfile2 p {
    width: 95%;
}

.borderProfile2 h2 {
    text-align: left;
    font-size: small;
    font-weight: 400;
}


/****** CALENDRIER DES SORTIES ******/

#calendarMain {
    background-color: #DD4124;
}

#calendarMain h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-top: 1em;
    height: 10%;
}

.grid {
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    align-items: start;
    justify-content: flex-start;
}

.grid article {
    margin: 1.5em;
    min-width: 150px;
    max-width: 150px;
}

.poster {
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .5);
    position: relative;
    color: white;
    font-size: 2rem;
    
}

.poster img {
    object-fit: cover;
}

.poster .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top left;
}

.grid figcaption {
    font-size: 0.5em;
    text-align: center;
}

.grid p {
    padding-top: 3px;
    font-size: 1.2em;
    line-height: normal;
    text-align: start;
    margin: 0;
}


/****** PAGE DE RECHERCHE ******/

.searchMain {
    background-color: #DD4124;
}